
<div role="main">

    <div class="bounty-tabs">
        <ul>
            <li ng-class="tabService.tabClass('Admin', 'art')" ng-click="tabService.activateTab('Admin', 'art')">Art</li>
            <li ng-class="tabService.tabClass('Admin', 'events')" ng-click="tabService.activateTab('Admin', 'events')">Events</li>
            <li ng-class="tabService.tabClass('Admin', 'prizes')" ng-click="tabService.activateTab('Admin', 'prizes')" >Prizes</li>
            <li ng-class="tabService.tabClass('Admin', 'winners')" ng-click="tabService.activateTab('Admin', 'winners')">Winners</li>
            <li ng-class="tabService.tabClass('Admin', 'players')" ng-click="tabService.activateTab('Admin', 'players')">Players</li>
            <li ng-class="tabService.tabClass('Admin', 'files')" ng-click="tabService.activateTab('Admin', 'files')">Images</li>
        </ul>
    </div>

    <div ng-show="tabService.isActiveTab('Admin', 'art')">

        <ng-include src="'/playitforward/index/adminArtTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('Admin', 'events')">

        <ng-include src="'/playitforward/index/adminEventsTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('Admin', 'prizes')">

        <ng-include src="'/playitforward/index/adminPrizesTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('Admin', 'winners')">

        <ng-include src="'/playitforward/index/adminWinnersTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('Admin', 'players')">

        <ng-include src="'/playitforward/index/adminPlayersTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('Admin', 'files')">

        <ng-include src="'/playitforward/index/adminFilesTab.html'"></ng-include>

    </div>

</div>