<h2 class="shoutout">Events</h2>

<div id="event-loading" ng-if="!eventService.eventsLoaded">

    <ng-include src="'/playitforward/index/spinner.html'"></ng-include>

</div>

<div ng-if="eventService.eventsLoaded">

<div class="gp-dropdown">
    <select name="eventSelect" id="eventSelect" ng-model="eventService.currentEvent"
            ng-options="event.name for event in eventService.activeEvents track by event.id"
            ng-change="eventService.selectedEvent()" title="eventSelectTitle">
    </select>
</div>

<div class="gp-dropdown">
    <select name="eventTypeSelect" id="eventTypeSelect" ng-model="eventService.currentType"
            ng-options="type.type for type in (eventService.types | filter:'a' ) track by type.id"
            ng-change="eventService.selectedYearType()" title="eventTypeSelectTitle">
    </select>
</div>

<div class="gp-dropdown">
    <select name="yearSelect" id="yearSelect" ng-model="eventService.currentYear"
            ng-options="year for year in eventService.years"
            ng-change="eventService.selectedYearType()" title="yearSelectTitle">
    </select>
</div>

<br/>

<form ng-submit="eventService.upsertEvent()" class="form">

    <div class="form-group">
        <label for="inputEventName" class="control-label">Name:</label>
        <input type="text" id="inputEventName" class="form-control"
               ng-model="eventService.eventToEdit.name" required>
    </div>

    <div class="form-group">
        <label for="inputEvenFormat" class="control-label">Format:</label>
        <input type="text" id="inputEvenFormat" class="form-control"
               ng-model="eventService.eventToEdit.eventFormat" required>
    </div>

    <div class="form-group">
        <label for="inputEvenStart" class="control-label">Start Date:</label>
        <input type="date" id="inputEvenStart" class="form-control"
               ng-model="eventService.eventToEdit.startDate" required>
    </div>

    <div class="form-group">
        <label for="inputEventEnd" class="control-label">End Date:</label>
        <input type="date" id="inputEventEnd" class="form-control"
               ng-model="eventService.eventToEdit.endDate" required>
    </div>

    <div class="form-group">
        <label for="inputEventType" class="control-label">Type:</label>
        <select name="inputEventType" id="inputEventType" ng-model="eventService.eventToEdit.type"
                ng-options="type.description for type in eventService.types track by type.id"
                class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label for="inputEventOrganizer" class="control-label">Organizer:</label>
        <select name="inputEventType" id="inputEventOrganizer" ng-model="eventService.eventToEdit.organizer"
                ng-options="org.name for org in eventService.organizers track by org.id"
                class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label for="inputEventUrl" class="control-label">URL:</label>
        <input type="text" id="inputEventUrl" class="form-control"
               ng-model="eventService.eventToEdit.eventUrl" required>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="button" ng-click="addNewEventSetup()">Clear</button>
        <button class="btn btn-primary" type="submit" ng-show="eventService.currentEvent.id">Edit</button>
        <button class="btn btn-primary" type="submit" ng-hide="eventService.currentEvent.id">Add</button>
    </div>

</form>

</div>