
<div role="main">

    <div class="bounty-tabs">
        <ul>
            <li ng-class="tabClass('mail')" ng-click="activate('mail')">Mail List</li>
            <li ng-class="tabClass('prizes')" ng-click="activate('prizes')" >Prizes</li>
            <li ng-class="tabClass('winners')" ng-click="activate('winners')">Winners</li>
            <li ng-class="tabClass('players')" ng-click="activate('players')">Players</li>
        </ul>
    </div>


    <div id="admin-mail" ng-show="isActiveTab('mail')">

        <div class="alert alert-danger" ng-show="personData.personError">

            There was a problem retrieving the mail list.

            <br />

            {{personData.personError}}

        </div>

        <div ng-show="personData.personError==''">

            <h1>Add/Edit:</h1>

            <div class="gp-dropdown">
                <!--suppress HtmlFormInputWithoutLabel -->
                <select name="personSelect" id="personSelect" ng-model="mailData.currentPerson"
                        ng-options="person.fullName for person in personData.personList track by person.id">
                </select>
            </div>

            <form ng-submit="upsertPerson()" class="form">

                <div class="form-group">
                    <label for="inputFirstName" class="control-label">First Name:</label>
                    <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" ng-model="mailData.currentPerson.firstName" required>
                </div>

                <div class="form-group">
                    <label for="inputLastName" class="control-label">Last Name:</label>
                    <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" ng-model="mailData.currentPerson.lastName" required>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="control-label">Email Address:</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="mailData.currentPerson.email" required autofocus>
                </div>

                <div class="form-group">

                    <label for="personTypeSelect" class="control-label">I Am A:</label>
                    <select name="personSelect" class="form-control" id="personTypeSelect" ng-model="mailData.currentPerson.personType"
                            ng-options="type.description for type in mailData.types track by type.id" >
                    </select>

                </div>

                <div class="form-group">
                    <label for="inputPhone" class="control-label">Phone Number:</label>
                    <input type='text' id="inputPhone" class="form-control" placeholder="Phone Number" ng-model="mailData.currentPerson.phone" autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPush" class="control-label">Enable Push Notifications:
                        <input type="checkbox" id="inputPush" ng-model="mailData.currentPerson.sendPushNotifications" autofocus>
                    </label>
                </div>

                <button class="btn btn-primary center-block" type="submit">Add/Edit</button>

            </form>


            <h1>Search:</h1>

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search Mail List" ng-model="personData.searchString">
                    </div>
                </div>
            </form>

            <table id="admin-mail-table" class="table table-bordered table-striped small">

                <thead>
                <tr>
                    <th>
                        <a href ng-click="personData.sortType = 'name'; personData.sortReverse = !personData.sortReverse">
                            Name
                        </a>
                    </th>
                    <th>
                        <a href ng-click="personData.sortType = 'type'; personData.sortReverse = !personData.sortReverse">
                            Type
                        </a>
                    </th>
                    <th>
                        <a href ng-click="personData.sortType = 'email'; personData.sortReverse = !personData.sortReverse">
                            Email
                        </a>
                    </th>
                    <th>
                        <a href ng-click="personData.sortType = 'phone'; personData.sortReverse = !personData.sortReverse">
                            Phone Number
                        </a>
                    </th>
                    <th>
                        <a href ng-click="personData.sortType = 'push'; personData.sortReverse = !personData.sortReverse">
                            Push Notifications
                        </a>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-show="person.id"
                    ng-repeat="person in personData.personList | orderBy:personData.sortType:personData.sortReverse | filter:personData.searchString">

                    <td>{{ person.firstName }} {{person.lastName}}</td>
                    <td>{{ person.personType.description }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phone }}</td>
                    <td>{{ person.sendPushNotifications }}</td>
                </tr>
                </tbody>

            </table>

        </div>


    </div>

    <div id="admin-prizes" ng-show="isActiveTab('prizes')">

        <div class="alert alert-danger" ng-show="prizeData.prizeError">

            There was a problem retrieving the prize list.

            <br />

            {{prizeData.prizeError}}

        </div>

        <div ng-show="prizeData.prizeError==''">

            <h1>Add/Edit:</h1>

            <div class="gp-dropdown">
                <!--suppress HtmlFormInputWithoutLabel -->
                <select name="prizeSelect" id="prizeSelect" ng-model="currentEvent"
                        ng-options="event.name for event in winnerData.eventList track by event.id"
                        ng-change="selectEvent()">
                </select>
            </div>

            <form ng-submit="createPrize()" class="form">

                <div class="form-group">
                    <label for="inputDonorName" class="control-label">Donor:</label>
                    <input type="text" id="inputDonorName" class="form-control" placeholder="Donor" ng-model="prizeData.newDonor" required>
                </div>

                <div class="form-group">
                    <label for="inputPrize" class="control-label">Prize:</label>
                    <input type="text" id="inputPrize" class="form-control" placeholder="Prize" ng-model="prizeData.newPrize" required>
                </div>


                <button class="btn btn-primary center-block" type="submit">Add</button>

            </form>

            <br/>

            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>
                        <a href ng-click="bountyArray.sortType = 'donor'; bountyArray.sortReverse = !bountyArray.sortReverse">
                            Donor
                            <span ng-show="sortType == 'donor' && !bountyArray.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'donor' && bountyArray.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href ng-click="bountyArray.sortType = 'prize'; bountyArray.sortReverse = !bountyArray.sortReverse">
                            Prize
                            <span ng-show="sortType == 'prize' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'prize' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href ng-click="bountyArray.sortType = 'actions'; bountyArray.sortReverse = !bountyArray.sortReverse">
                            Actions
                            <span ng-show="sortType == 'prize' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'prize' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="bounty in prizeData.prizeList | orderBy:bountyArray.sortType:bountyArray.sortReverse | filter:currentEvent.name">
                    <td>{{ bounty.donor }}</td>
                    <td>{{ bounty.prize }}</td>
                    <td><button class="btn btn-primary center-block" type="submit" ng-click="deletePrize(bounty)">Delete</button></td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>

    <div id="admin-winners" ng-show="isActiveTab('winners')">

        <div class="alert alert-danger" ng-show="winnerData.winnerError">

            There was a problem retrieving the winner list.

            <br />

            {{personData.personError}}

        </div>

        <div ng-show="winnerData.winnerError==''">

            <h1>Add/Edit:</h1>

            <div class="gp-dropdown">
                <!--suppress HtmlFormInputWithoutLabel -->
                <select name="winnerSelect" id="winnerSelect" ng-model="currentEvent"
                        ng-options="event.name for event in winnerData.eventList track by event.id"
                        ng-change="selectEvent()">
                </select>
            </div>

            <form ng-submit="upsertWinner()" class="form">

                <div class="form-group">
                    <label for="inputWinnerName" class="control-label">Name:</label>
                    <input type="text" id="inputWinnerName" class="form-control" placeholder="Name" ng-model="winnerData.currentWinner.name" required>
                </div>

                <div class="form-group">
                    <label for="inputRank" class="control-label">Rank:</label>
                    <input type="text" id="inputRank" class="form-control" placeholder="Rank" ng-model="winnerData.currentWinner.ranking" required>
                </div>

                <div class="form-group">
                    <label for="inputRecord" class="control-label">Record:</label>
                    <input type="text" id="inputRecord" class="form-control" placeholder="Record" ng-model="winnerData.currentWinner.record" required >
                </div>

                <div class="form-group">
                    <label for="inputBlurb" class="control-label">Blurb:</label>
                    <textarea cols="40" rows="5" id="inputBlurb" class="form-control"
                              ng-model="winnerData.currentWinner.blurb" required>
                </textarea>
                </div>

                <button class="btn btn-primary center-block" type="submit">Add/Edit</button>

            </form>

        </div>

    </div>

    <div id="admin-players" ng-show="isActiveTab('players')">

        <h1>Leading Ladies:</h1>

        <div class="alert alert-danger" ng-show="playerData.playerError">

            There was a problem retrieving the player list.

            <br />

            {{playerData.playerError}}

        </div>

        <form ng-submit="upsertPlayer()" class="form">

            <div class="form-group">
                <label for="inputPlayerName" class="control-label">Name in Standings:</label>
                <input type="text" id="inputPlayerName" class="form-control" placeholder="Aiken, Simone [US]"
                       ng-model="playerData.newPlayer.name" required>
            </div>

            <div class="form-group">
                <label for="inputPlayerAlias" class="control-label">Alias:</label>
                <input type="text" id="inputPlayerAlias" class="form-control" placeholder="Alias"
                       ng-model="playerData.newPlayer.alias" required>
            </div>

            <div class="form-group">
                <label for="inputPlayerImageName" class="control-label">Image Name:</label>
                <input type="text" id="inputPlayerImageName" class="form-control" placeholder="Image Name"
                       ng-model="playerData.newPlayer.imgUrl" required >
            </div>

            <button class="btn btn-primary center-block" type="submit">Add</button>

        </form>

        <br/>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search Players"
                           ng-change="filterPlayers()" ng-model="playerData.searchString">
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>
                    <a href ng-click="sortPlayers('imgUrl')">
                        Image
                        <span ng-show="playerData.sortType == 'imgUrl' && !playerData.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="playerData.sortType == 'imgUrl' && playerData.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href ng-click="sortPlayers('name')">
                        Name
                        <span ng-show="playerData.sortType == 'name' && !playerData.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="playerData.sortType == 'name' && playerData.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href ng-click="sortPlayers('alias')">
                        Alias
                        <span ng-show="playerData.sortType == 'alias' && !playerData.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="playerData.sortType == 'alias' && playerData.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
            </thead>

            <tbody>
                <tr ng-repeat="player in playerData.pagedPlayers[playerData.currentPage]">
                    <td>{{ player.imgUrl }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.alias }}</td>
                </tr>
            </tbody>

            <tfoot>


            </tfoot>

        </table>

        <div class="tableControl pull-right">

            <ul>

                <li ng-class="{disabled: playerData.currentPage == 0}">
                    <a href ng-click="prevPlayerPage()">«</a>
                </li>

                <li ng-repeat="n in playerTableRange()"
                    ng-class="{active: n == playerData.currentPage}" ng-click="setPlayerPage(n)">

                    <a href ng-bind="n + 1">1</a>
                </li>

                <li ng-class="{disabled: (currentPage) == layerData.pagedPlayers.length - 1}">
                    <a href class="button" ng-click="nextPlayerPage()">»</a>
                </li>

            </ul>

        </div>

    </div>

</div>