
<div role="main">

    <h1>Unique Bounties:</h1>

    <table>

        <thead>

            <tr>
                <th>GP</th>
                <th>Donor</th>
                <th>Prize</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td>GP San Jose</td>
                <td>Cassidy Melczak</td>
                <td>One box Aether Revolt to the leading lady.</td>
            </tr>

            <tr>
                <td>GP New Jersey</td>
                <td>Cassidy Melczak</td>
                <td>One box Aether Revolt to the leading lady.</td>
            </tr>

        </tbody>

    </table>


    <h1>Playmat Bounties:</h1>

    <p>
        For every individual(non-team) Grand Prix held in North America for 2017
        the highest placing woman or non-binary player will receive a playmat.
    </p>

    <table>

        <thead>

        <tr>
            <th>Month</th>
            <th>Mat</th>
            <th>Artist</th>
        </tr>

        </thead>

        <tbody>

        <tr>
            <td>January</td>
            <td><IMG class="playmat-thumbnail" src="/assets/SanJose2017.jpg"></td>
            <td>Max Collins is an artist and animator at Cartoon Network and Studio Yotta.
                You can check out his work on his <a href="http://maxjcollins.tumblr.com/">tumblr.</a></td>
        </tr>

        <tr>
            <td>February</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>March</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>April</td>
            <td></td>
            <td>
                There are no individual North American GPs in April.
            </td>
        </tr>

        <tr>
            <td>May</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>June</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>July</td>
            <td><IMG class="playmat-thumbnail" src="/assets/SanJose2017.jpg"></td>
            <td>Max Collins is an artist and animator at Cartoon Network and Studio Yotta.
                You can check out his work on his <a href="http://maxjcollins.tumblr.com/">tumblr.</a></td>
        </tr>

        <tr>
            <td>August</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>September</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>October</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        <tr>
            <td>November</td>
            <td><a href="https://www.youtube.com/watch?v=xFhd8RfCqVg">
                <IMG class="playmat-thumbnail" src="/assets/KellsThumb.png">
                <a>
            </td>
            <td>
               An iconic image of Aisling from
               <a href="http://www.gkids.com/films/the-secret-of-kells/">The Secret Of Kells</a>
               used with permission of
               <a href="http://www.gkids.com">GKIDS</a>
            </td>
        </tr>

        <tr>
            <td>December</td>
            <td><IMG class="playmat-thumbnail" src="/assets/yourArt.png"></td>
            <td>
                <---- <a href="mailto:play_it_forward@outlook.com">Contact Us </a>
                and your art could be there.
            </td>
        </tr>

        </tbody>

    </table>

    * Due to printing/shipping/art acquiring times the mat may be mailed after
      the fact.

</div>