
<div role="main">

    <h1>Contribute</h1>

    <ul class="section">

        <li>Set a bounty of your own.  Donate a prize for an event of your choice.</li>
        <li>Volunteer.  We need folks to identify the winner and deliver prizes at qualifying events.</li>
        <li>Donate art.  The graphic design for this page needs to exist and we need art for future prize playmats</li>
        <li>Donate cash. We are a registered non-profit so donations to Play It Forward are tax deductable.

    </ul>

    <form class="center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="LVZKVTJS45LNA">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>
