
<div role="main">

    <h1>Contribute</h1>

    <ul>

        <li>Set a bounty of your own.  Donate a prize for an event of your choice.</li>
        <li>Volunteer.  We need folks to identify the winner and deliver prizes at qualifying events.</li>
        <li>Donate art.  The graphic design for this page needs to exist and we need art for future prize playmats</li>
        <li>Donate cash.  When we finish filing as a nonprofit donations will be tax-deductable.</li>

    </ul>

    * Bounties don't have to be monetary.  Offers of mentoring or other assistance could be of interest.

</div>
