
<!--suppress HtmlUnknownTarget, JSUnresolvedVariable, JSUnresolvedVariable -->

<div role="main">

    <div class="gp-dropdown">
        <select name="eventSelect" id="eventSelect" ng-model="eventData.currentEvent"
                ng-options="event.name for event in (eventData.events | filter:eventData.currentYear) track by event.id"
                ng-change="selectEvent()" title="eventSelectTitle">

        </select>
    </div>

    <div class="gp-dropdown">
        <select name="yearSelect" id="yearSelect" ng-model="eventData.currentYear"
                ng-options="year for year in eventData.years"
                ng-change="selectYear()" title="yearSelectTitle">
        </select>
    </div>

    <div class="bounty-tabs">
        <ul>
            <li ng-class="tabClass('summary')" ng-click="activate('summary')">Winner</li>
            <li ng-class="tabClass('playmat')" ng-click="activate('playmat')" >Playmat</li>
            <li ng-class="tabClass('race')" ng-click="activate('race')"
                ng-show="!isFutureGP()">Standings
            </li>
            <li ng-class="tabClass('bounties')" ng-click="activate('bounties')">Organization Stuff</li>
        </ul>
    </div>

    <!--loading-->

    <div id="gp-loading" ng-show="!eventsLoaded">

        <p>Loading Event Data ...</p>

    </div>

    <!--winner-->

    <div id="gp-summary" ng-show="isActiveTab('summary')">

        <div class="alert alert-danger" ng-show="winnerError">

            There was a problem retrieving winner information.

            <br />

            {{winnerError}}

        </div>

        <div ng-show="eventsLoaded && isFutureGP()" >

            {{eventData.currentEvent.name}} will begin on {{gpStartDateString()}}.

            <br/>

            You got this.

        </div>

        <div ng-if="winnersLoaded && !isFutureGP()" >

            <div class="section">
                <p><b>Name:</b> {{eventData.currentWinner.name}}</p>
                <p><b>Rank:</b> {{eventData.currentWinner.ranking}}</p>
                <p><b>Record:</b> {{eventData.currentWinner.record}}</p>
            </div>

            <p>
                <img class="winner-image" ng-src="{{getWinnerImageName()}}"
                    on-error-src="assets/winners/Unknown.jpg"/>
            </p>

            <p class="blurb">
                {{eventData.currentWinner.blurb}}
            </p>

        </div>

    </div>

    <!--playmat-->

    <div id="gp-playmat" ng-show="isActiveTab('playmat')">

        <div class="alert alert-danger" ng-show="artError || artistsError">

            There was a problem retrieving art information

            <br />

            {{artistsError}}

            {{artError}}

        </div>

        <div ng-if="artLoaded && artistsLoaded && eventData.currentEvent">

            <p>
                <span class="artTitle">{{eventData.currentArt.title}}</span>
                <span ng-show="eventData.currentArtist">by</span>
                <span class="artist">{{eventData.currentArtist.name}}</span>
            </p>

            <p>
                <img class="playmat-image" ng-src="{{eventData.currentEvent.matUrl}}"
                     on-error-src="assets/ComingSoon.jpg" />
            </p>

            <p>
                {{eventData.currentArtist.blurb}}
            </p>

            <div class="socialIconsDiv">

                <a target="_blank" ng-show="eventData.currentArtist.webSiteUrl" href="{{eventData.currentArtist.webSiteUrl}}">
                    <img src="/assets/socialmedia/website.png" class="artistLinkImage"/>
                </a>

                <a target="_blank" ng-show="eventData.currentArtist.patreonUrl" href="{{eventData.currentArtist.patreonUrl}}">
                    <img src="/assets/socialmedia/patreon.png" class="artistLinkImage"/>
                </a>

                <a target="_blank" ng-show="eventData.currentArtist.deviantArtUrl" href="{{eventData.currentArtist.deviantArtUrl}}">
                    <img src="/assets/socialmedia/deviantart.png" class="artistLinkImage"/>
                </a>

                <a target="_blank" ng-show="eventData.currentArtist.facebookUrl" href="{{eventData.currentArtist.facebookUrl}}">
                    <img src="/assets/socialmedia/facebook.png" class="artistLinkImage"/>
                </a>

            </div>

            <br />

            <p ng-show="eventData.currentArt.purchaseUrl" class="center">
                Purchase a print of this art <a target="_blank" href="{{eventData.currentArt.purchaseUrl}}">here</a>.
            </p>

            <p class="center">
                Playmats provided by the heroes at <a href="http://gamermats.com/">GamerMats</a>.
            </p>

        </div>

    </div>

    <!--prizes-->

    <div id="gp-bounties" ng-show="isActiveTab('bounties')">

        <div class="alert alert-danger" ng-show="bountyArray.error">

            There was a problem retrieving prize information

            <br />

            {{bountyArray.error}}

        </div>

        <p>
            <b>Event Coordinator</b>: {{eventData.currentEvent.coordinator}}
        </p>


        <p ng-show="bountiesExist()">
            In addition to the Play It Forward playmat, members of the community have
            donated the following prizes to the leading lady in day two.  Please work
            with the event coordinator to deliver prizes:
        </p>

        <table class="table table-bordered table-striped" ng-show="bountiesExist()">

            <thead>
            <tr>
                <th>
                    <a href ng-click="bountyArray.sortType = 'donor'; bountyArray.sortReverse = !bountyArray.sortReverse">
                        Donor
                        <span ng-show="sortType == 'donor' && !bountyArray.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'donor' && bountyArray.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href ng-click="bountyArray.sortType = 'prize'; bountyArray.sortReverse = !bountyArray.sortReverse">
                        Prize
                        <span ng-show="sortType == 'prize' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'prize' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="bounty in getPrizeList() | orderBy:bountyArray.sortType:bountyArray.sortReverse">
                <td>{{ bounty.donor }}</td>
                <td>{{ bounty.prize }}</td>
            </tr>
            </tbody>

        </table>

    </div>

    <!--horse race-->

    <div id="gp-race" ng-if="isActiveTab('race')">

        <div ng-if="!isFutureGP()">

            <iframe ng-if="!isFutureGP()" ng-src="{{getHorseRaceSrc()}}" frameborder="0" width="100%" height="600px"></iframe>

            <p class="text-right"><small><a href="{{getHorseRaceSrc()}}">(full-screen)</a></small></p>

            <p>

                This animation represents the standings of the women and
                non-binary players in the chosen GP from round to round.
                In respect for women who wish to remain anonymous we are using
                random names and avatars by default.  To update your name and/or
                avatar <a href="mailto:play_it_forward@outlook.com">contact us</a>.
                You can use your real name/picture or any pseudonym/avatar you desire.

            </p>

        </div>

    </div>

</div>

