
<!--suppress HtmlUnknownTarget, JSUnresolvedVariable, JSUnresolvedVariable -->

<div role="main" ng-click="raceService.unselectHorse()">

    <form ng-submit="eventService.scrapeNewEvents()" class="form">

        <button class="btn btn-primary gp-dropdown" style="padding: 2px 5px;" type="submit" ng-show="isAuthenticated()" >Update</button>

        <!--<tr ng-repeat="user in users | filter:{name: search.name, phone: search.phone}">-->

        <div class="gp-dropdown">
            <select name="eventSelect" id="eventSelect" ng-model="eventService.currentEvent"
                    ng-options="event.name for event in eventService.activeEvents track by event.id"
                    ng-change="eventService.selectedEvent()" title="eventSelectTitle">

            </select>
        </div>

        <div class="gp-dropdown">
            <select name="eventTypeSelect" id="eventTypeSelect" ng-model="eventService.currentType"
                    ng-options="type.type for type in (eventService.types | filter:'a' ) track by type.id"
                    ng-change="eventService.selectedYearType()" title="eventTypeSelectTitle">

            </select>
        </div>

        <div class="gp-dropdown">
            <select name="yearSelect" id="yearSelect" ng-model="eventService.currentYear"
                    ng-options="year for year in eventService.years"
                    ng-change="eventService.selectedYearType()" title="yearSelectTitle">
            </select>
        </div>

    </form>

    <div class="bounty-tabs">
        <ul>
            <li ng-class="tabService.tabClass('GPs', 'standings')" ng-click="tabService.activateTab('GPs', 'standings')">Links</li>
            <li ng-class="tabService.tabClass('GPs', 'config')" ng-click="tabService.activateTab('GPs', 'config')" >Watchlist</li>
            <li ng-class="tabService.tabClass('GPs', 'watch')" ng-click="tabService.activateTab('GPs', 'watch')" >Race</li>
        </ul>
    </div>

    <!--loading-->

    <div id="gp-loading" ng-if="!eventService.eventsLoaded">

        <h2 class="shoutout">Loading Event Data ...</h2>

        <ng-include src="'/playitforward/index/spinner.html'"></ng-include>

    </div>

    <!--raw standings-->

    <div id="gp-standings" ng-show="tabService.isActiveTab('GPs', 'standings')" ng-if="eventService.eventsLoaded" >

        <ng-include src="'/playitforward/index/gpStandingsTab.html'"></ng-include>

    </div>

    <!--config watchlist-->

    <div id="gp-config" ng-show="tabService.isActiveTab('GPs', 'config')" ng-if="eventService.eventsLoaded" >

        <ng-include src="'/playitforward/index/gpConfigTab.html'"></ng-include>

    </div>

    <!--watch-->

    <div id="gp-watch" ng-show="tabService.isActiveTab('GPs', 'watch')" ng-if="eventService.eventsLoaded" >

        <ng-include src="'/playitforward/index/gpWatchTab.html'"></ng-include>

    </div>

    <!--horse race-->

    <div id="gp-race" ng-if="tabService.isActiveTab('GPs', 'race')" ng-if="eventService.eventsLoaded" >

        <ng-include src="'/playitforward/index/gpRaceTab.html'"></ng-include>

    </div>

</div>

