
<div ng-if="!isFutureGP()">

    <iframe ng-if="!isFutureGP()" ng-src="{{getHorseRaceSrc()}}" frameborder="0" width="100%" height="600px"></iframe>

    <p class="text-right"><small><a href="{{getHorseRaceSrc()}}">(full-screen)</a></small></p>

    <p>

        This animation represents the standings of the women and
        non-binary players in the chosen GP from round to round.
        To update your name and/or
        avatar <a href="mailto:play_it_forward@outlook.com">contact us</a>.
        You can use your real name/picture or any pseudonym/avatar you desire.

    </p>

</div>