
<h2 class="shoutout" style="margin-bottom: 5px;">
    <a href="{{eventService.currentEvent.eventUrl}}" target="_blank">
        {{eventService.currentType.type}} {{eventService.currentEvent.name}}
    </a>
</h2>

<span>
    {{eventService.currentEvent.eventFormat}} : {{gpRangeString()}}
</span>

<br/><br/>

<div id="standings-loading" ng-if="eventService.scraping">

    <ng-include src="'/playitforward/index/spinner.html'"></ng-include>

</div>

<table class="resource-table ng-scope" ng-if="!eventService.scraping">

    <tr>
        <th style="text-align: center;">Pairings</th>
        <th style="text-align: center;">Results</th>
        <th style="text-align: center;">Standings</th>
    </tr>

    <tr ng-repeat="link in eventService.currentLinks">

        <td style="text-align: center;"><a href="{{link.pairingsUrl}}" ng-if="link.pairingsUrl" target="_blank">{{link.round}}</a></td>
        <td style="text-align: center;"><a href="{{link.resultsUrl}}" ng-if="link.resultsUrl" target="_blank">{{link.round}}</a></td>
        <td style="text-align: center;"><a href="{{link.standingsUrl}}" ng-if="link.standingsUrl" target="_blank">{{link.round}}</a></td>

    </tr>

</table>

<br/>
<br/>