
<div role="main">

    <div class="bounty-tabs">

        <ul>
            <li ng-class="tabClass('group-profile')" ng-click="activate('group-profile')">Profile</li>
            <li ng-class="tabClass('group-members')" ng-click="activate('group-members')" >Members</li>
            <li ng-class="tabClass('group-standings')" ng-click="activate('group-standings')">Standings</li>
            <li ng-class="tabClass('group-store')" ng-click="activate('group-store')">Home Store</li>
        </ul>

    </div>

    <div id="group-profile" ng-show="isActiveTab('group-profile')">

        Profile Stub.

    </div>

    <div id="group-members" ng-show="isActiveTab('group-members')">

        Member Stub

    </div>

    <div id="group-standings" ng-show="isActiveTab('group-standings')">

        Standings Stub

    </div>

    <div id="group-store" ng-show="isActiveTab('group-store')">

        Store Stub

    </div>

</div>