
<div role="main">

    <div class="section">

        <h1>Group Administration:</h1>

    </div>

    <div class="bounty-tabs">

        <ul>
            <li ng-class="tabClass('guild-profile')" ng-click="activate('guild-profile')">Profile</li>
            <li ng-class="tabClass('guild-members')" ng-click="activate('guild-members')" >Members</li>
            <li ng-class="tabClass('guild-standings')" ng-click="activate('guild-standings')">Standings</li>
            <li ng-class="tabClass('guild-store')" ng-click="activate('guild-store')">Home Store</li>
        </ul>

    </div>

    <div id="group-profile" ng-show="isActiveTab('guild-profile')">

        Profile Placeholder.

    </div>

    <div id="group-members" ng-show="isActiveTab('guild-members')">

        Member Placeholder

    </div>

    <div id="group-standings" ng-show="isActiveTab('guild-standings')">

        Standings Placeholder

    </div>

    <div id="group-store" ng-show="isActiveTab('guild-store')">

        Store Placeholder

    </div>

</div>