
<h2 class="shoutout">Achievements</h2>

<p>
    One thing I love about my GP Indianapolis PiF mat is that it
    changes the way I'm treated when I play among strangers. People
    who recognize it immediately assume that I came to play.
    If you meet the requirements for one of the Achievement mats email me to get a code
    that will let you purchase it from
    <a href="https://www.yourplaymat.com/products/custom-playmat" target="_blank">Your Playmat</a>.
</p>

<br/>

<img src="/assets/Unstoppable.png" />

<p class="achieve">
    Make D2 for three GPs/Star City Opens in a row and you
    qualify for the Unstoppable achievement.
</p>

<img src="/assets/GotThere.png" />

<p class="achieve">
    The kind of thing that may have given you a playmat, but people assume
    it's your boyfriend's when they see it. Pro tour participation.
    1st place in a serious cash tournament. Playing in the World Cup.  Etc.
</p>

<img src="/assets/Inferno.png" />

<p class="achieve">
    For those hot shot rookies who made day two on their very first
    Grand Prix or Star City Open.
</p>

<img src="/assets/Inspiration.png" />

<p class="achieve">
    Nominate someone who inspired you
    and say why. This is graded on the curve and what is inspiring for one person may
    not be for someone with more experience or funds.
</p>

<br/>


