
<h4>How can I help?</h4>

<p>
    <i>We need three things - people to organize events, leads on awesome art to
        put on the prize playmats (with permission), and money to fund the prize programs.</i>
</p>

<br />

<h4>What kind of art are you looking for?</h4>

<p><i>
    Art pieces must have a horizontal layout and
    be able to fit in a 24x14 inch template with a quarter inch bleed.  They must center a confident
    woman or girl who is clearly the subject of the piece, not the object.  What does that mean,
    exactly?  A good rule of thumb is to ask yourself, "If I were in her place, what would I
    be thinking/feeling?" and if it isn't immediately clear then she isn't showing enough agency.
</i></p>

<br />

<h4>What kind of event organization?</h4>

<p><i>
    At GP's having a contact physically present to give the playmat to the winner and help
    find qualified competitors is very helpful.  Name scanning the standings from a thousand
    miles away only gets me so far.  It also saves on shipping the playmat to the winner after
    the fact.  Organizers for online Zerg rushes would also be helpful.  Particularly for constructed
    events where setting up testing groups prior to the event would help competitors.
</i></p>

<br/>

<h4>Can trans-women and non-binary players participate?</h4>

<p><i>Absolutely.</i></p>

<br />

<h4>But they aren't female.</h4>

<p><i>
    That isn't a question. Also, don't care. It takes no extra effort and does
    meaningful good. I can't count the number of times someone
    presenting as a man has come up to talk to me about participation on D1 and then
    on D2 stopped passing and came as themselves.  When they stop passing they can find
    each other and realize exactly what the cis-women participating realize -
    that they aren't alone.  See the article "The Mantle" on the Press tab for
    people explaining how important that is to them.
</i></p>

<br/>

<h4>But it says "women" in your byline.</h4>

<p><i>
    Still not a question. My focus is on cis-women because I'm looking at closing
    the participation gap and cis-women have a staggering participation gap.  When a group is
    over 50% of the population, almost 40% of Magic players, but still struggles to crack 2%
    at events something is seriously screwy.  There is more to this than the occasional jerk.
    If ill treatment or ambient sexism was the whole story then you'd never see cis-women
    at bars or in dance clubs.  The
    <a href="https://www.researchgate.net/publication/287891990_Gender_Performance_in_the_NCAA_Rifle_Championships_Where_is_the_Gap" target="_blank">
    2009 NCAA mixed gender Rifle Championships had 67 women and 74 men in it
    </a>. Am I to believe that target shooting is less macho than Magic?
</i></p>

<br/>

<h4>Why is the participation gap so big?</h4>

<p><i>
    Excellent question! There are many factors to this, but my active hypothesis is that
    the main issue is sex differences in how people are treated when they win.  See
    <a href="https://vgresearcher.wordpress.com/2015/07/15/reactions-to-a-womans-voice-in-an-fps-game-the-moderating-role-of-status-and-skill-kasumovic-kuznekoff-2015/" target="_blank" >
        this 2015 study
    </a> which found that "</i>lower-skilled players were more hostile towards a female-voiced teammate,
    especially when performing poorly. In contrast, lower-skilled players behaved submissively towards
    a male-voiced player in the identical scenario."<i> Basically, guys who feel insecure about their
        own performance tend to be nice to high performing men and nasty to high performing women.</i>
</p>

<p><i>
    The study concludes "</i>female players felt less
    skilled and less confident about their own gaming abilities despite being on par with their male counterparts’
    abilities through objective measures  ... The reasoning for such perception among female players is the
    social environment’s hostility to women [and] the high proportion of negative
    comments female players receive ... The authors suggested that we should teach boys that losing to
    girls is not socially painful. It’s a game of equals.<i>"
</i></p>

<p><i>
    I don't think our problem is getting women into competition.  I think our problem is keeping them
    after they start winning.  The key moment isn't when an antagonist says something nasty.  It is when
    their hard work pays off and they win their first match ... only to be greeted with pouting, card
    slamming, and long winded explanations of how they just "got lucky" instead of a "Congratulations!"
    and a hand shake. This is most damaging when the person doing it is a friend.  Remember, girls are
    taught to be "nice" in the same way that boys are taught to be "brave".  So just as men typically feel more
    shamed if they get rattled or startled than women do, women typically feel more shame if they cause someone else
    to be unhappy than men do.  Nobody likes dealing with a sore loser, but it is much worse if you have
    been raised to feel responsible for the happiness of the people around you.  And studies consistently
    show that women face 2-3 times as much poor sportsmanship as men in addition to explicit sexism.
</i></p>
