
<h3>The Playmat Program</h3>

<p>
    People leave competitive play when the downsides outweigh the upsides.
    The PiF initiative seeks to maximize upsides and minimize downsides through competition based
    community building. During large events we offer a unique playmat and recognition to the
    highest placing woman or non-binary player who makes day 2.
</p>

<br/>

<p>
    The existence of the competition creates an awareness in each individual that they are not
    alone. This reduces stereotype threat - the fear that other members of your group will
    be held accountable for your mistakes.  The social network formed by it creates upsides in the
    form of friends that one can only see by continuing to participate in high level
    competitive play. It is also a resource for room sharing and logistic support.
</p>

<br/>

<h3>Modo Zerg Rushes</h3>

<p>
    Periodically PiF competitors are encouraged to get MODO tokens to all attend the
    same MCQ online.  In one such event Sarah England went undefeated
    and qualified for the Pro Tour.
</p>

<br/>

<h3>Real Life Zerg Rushes</h3>

<p>
    Once per year a GP is designated for a big award - flight and hotel to your next GP.  The
    top 8 PiF competitors in Day 2 cut to a draft for the prize (Unless they are in the real
    top 8 cause we aren't waiting for that to finish).
</p>