
<div role="main">

    <h1>
        We are a non-profit with one goal:
    </h1>

    <h1 class="shoutout">
        Get more women on the Pro Tour
    </h1>

    <div class="bounty-tabs">
        <ul>
            <li ng-class="tabService.tabClass('About', 'program')" ng-click="tabService.activateTab('About', 'program')">Programs</li>
            <li ng-class="tabService.tabClass('About', 'inspire')" ng-click="tabService.activateTab('About', 'inspire')" >Inspiration</li>
            <li ng-class="tabService.tabClass('About', 'faq')" ng-click="tabService.activateTab('About', 'faq')">FAQ</li>
        </ul>
    </div>

    <div ng-show="tabService.isActiveTab('About', 'inspire')">

        <ng-include src="'/playitforward/index/indexInspireTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('About', 'program')">

        <ng-include src="'/playitforward/index/indexProgramTab.html'"></ng-include>

    </div>

    <div ng-show="tabService.isActiveTab('About', 'faq')">

        <ng-include src="'/playitforward/index/indexFaqTab.html'"></ng-include>

    </div>

</div>
