

<h2 class="shoutout">Inspiration</h2>

<p>

    Play It Forward was inspired by
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2679077/" target="_blank">
        a study
    </a> showing that the rarity of women chess grandmasters
    was driven almost entirely by participation rates. Reality was only 4% off projections
    of how they should be doing given that only 1 in 16 chess competitors is female.
    Populations perform on a normal distribution with exponentially fewer at either extreme.


</p>

<br/>

    <img src="/assets/normal.png" width="600px" >

<br/> <br/>

<p>

    In 2016 women were about half a percent of Grand Prix players.  Which completely
    explains the rarity of Grand Prix winners. I travel a lot and I see hundreds of women
    playing their local GPs.  What if we could network them and get them all to
    attend the same event at the same time?  What if they could be 30% of the competition
    instead of half a percent?
</p>

<br/>

