
<div id="content" role="main">

    <h1>
        We are a non-profit with one goal:
    </h1>

    <h1 class="centerText">
        Get more women on the Pro Tour
    </h1>

    <p>
        We seek to promote and cultivate women playing Magic: the Gathering at a
        competitive level by raising awareness of, and providing aid to, the hundreds
        of pro-candidate women already out there.  Also by motivating additional
        women to join their ranks. To achieve these goals we are working with partners
        to sponsor additional prizes that women can compete for in high level play such
        as playmats, mentorships, coverage, and assorted swag.  This will hopefully
        increase turnout, raise awareness, and also allow us to build a community by networking
        Magic's leading ladies with each other.  As well as allow us to compile and study statistics
        about women's performance on the Grand Prix circuit.
    </p>

    <br/>

</div>
