
<h2 class="shoutout">FAQ</h2>

<h3>Q: How can I claim a prize?</h3>

<p>
    Email <a href="mailto:play_it_forward@outlook.com">play_it_forward@outlook.com</a>.
</p>

<br />

<h3>Does Play It Forward get a cut of Achievement mat sales?</h3>

<p>
    Nope. We get a discount on GP/SCO award mat purchases. I didn't want
    to deal with the tax implications of sales and have let my nonprofit
    C3 status drop so I don't have to deal with the paperwork.
</p>

<br/>

<h3>Q: Can I get an achievement mat if I met the requirement a long time ago?</h3>

<p>
    Yes. There is no time limit on achievements.
</p>

<br />

<h3>Q: Who is eligible to claim achievement mats?</h3>

<p>
    Anyone from a group that is frequently assumed on visual inspection to not
    be serious Magic competition.  Inspiration mats are the one exception and any
    individual who has contributed substantially toward inclusion and respect in the
    community could qualify for one.
</p>

<br />

<h3>Q: If you add art I like better, can I get my achievement mat reprinted with the new art?</h3>

<p>
    No. But you can use the new art in a future Achievement.
</p>

<br />

<h3>Q: What happens if someone claims a prize mat and you don't realize they aren't the highest
    place woman/nonbinary player before the real winner shows up?</h3>

<p>
    I ask the mistaken winner nicely to ship the mat to the real winner and reimburse them for
    shipping if they do. There can be only one mat per event.
</p>


<br />


