

<p>

    Play It Forward was inspired by
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2679077/" target="_blank">
        a study
    </a> showing that the rarity of women chess grandmasters
    was driven almost entirely by participation rates. Reality was only 4% off projections
    of how they should be doing given that only 1 in 16 chess competitors is female.
    Populations perform on a normal distribution with exponentially fewer at either extreme.


</p>

<br/>

    <img src="/assets/normal.png" width="600px" >

<br/> <br/>

<p>

    This holds true for any arbitrary sorting of groups into a large and small populations. Pretend
    there are only 2,010 Magic players in the whole world, of which 10 are left handed and 2,000 are right
    handed.  What are the odds that the best player in the lot will be left handed?  Pretty bad.  But it is
    worse than just 1/200th the chance because a smaller population means less variability and smaller
    standard deviations.  What is in the second deviation for a large population could be the third for a
    much smaller one.

</p>

<br/>

<p>

    <a href="https://markrosewater.tumblr.com/post/122446948628/38" target="_blank" >
        Wizard's data
    </a> suggests that 38% of Magic players are female, so I know we can do
    better than half a percent in competitive events.
    Play It Forward seeks to address the participation gap by focusing on player retention.
    Other organizations such as The Lady Planeswalker Society and Planeswalkers for Diversity focus on player
    recruitment.

</p>
