


<h2 class="shoutout">The Playmat Program</h2>

<p>
    The top playing woman or non-binary player in each Grand Prix or Star City
    Open event will receive one free playmat commemorating their finish.  This program
    is now world wide and not limited to North America. Please have an event judge validate
    your claim for foreign events.
</p>

<br/>

<img src="https://playitforward-magic.s3-us-west-2.amazonaws.com/images/playmats/2019-Oklahoma-City.jpg">

<br/> <br/>

<p>
    The playmat program was intended to build a network of highly competitive
    women and non-binary players that I could then incentivize to all attend the
    same event at the same time.  Imagine being 30% of the players
    at a GP! The first part worked. The second part ... not so much.  We have
    enough day 2 capable players in tracking to do it but coordinating them isn't happening.
</p>

<br/>

<p>
    After three years trying I'm ready to throw in the towel on my Zerg Rush vision.
    I'm not shutting down the playmat program
    completely because a lot of folks really enjoy it. I am significantly
    reducing my time investment. Instead of printing mats in advance and working to
    get them to events, mats will be printed and shipped to the winner after the event.
    Instead of seeking permission to use new art every month
    I have built a collection of commissioned works for winners to choose from.
    The really big change is that I am not
    monitoring events and tracking winners down anymore.
    Winners need to email me with their claim
    that I will validate before sending the prize.
</p>

<br/>

<p>
    About 1/3rd of PiF winners have no idea the contest even exists.  I
    encourage the community - <b>particularly the people physically present
    at each event</b> - to let winners know they are eligible and give them the email
    (<a href="mailto:play_it_forward@outlook.com">play_it_forward@outlook.com</a>).
</p>


