<p>
    When we started in 2016 women were a little over half a percent of players at a typical GP.
    Participation rates have more than doubled.
    Women who get involved with PiF play more GP's per year than they previously
    did, place higher, and are less likely to leave competitive play. Non-binary players
    report significant improvements in quality of event experience.  I would like to thank
    all the volunteers and donors who have made PiF possible.
</p>

<br />

<img src="/assets/proof.png" />
