

<ul>
    <li>

        The failed gesture that started it all, and the article that gave us
        <a href="https://magic.wizards.com/en/events/coverage/gpden16/simone-aiken-pays-it-forward-2016-12-03" target="_blank">
            our name
        </a>.

    </li>

    <li>

        <a href="http://magic.facetofacegames.com/playing-like-girl-gp-van/" target="_blank">
            Chantelle Campbbell
        </a> writes about how the PiF prize "<i>pushed me to play harder and tighter than I ever had before</i>".

    </li>

    <li>
        Assorted PiF competitors write about casting off
        <a href="https://blog.cardkingdom.com/casting-off-mantle-female-friendships-competitive-magic/" target="_blank">
        The Mantle</a> as they see themselves as part of a group instead of as "The Woman".
    </li>

    <li>

        Going international with GP Sao Paulo and an article by
        <a href="https://cardsrealm.com/artigos/play-it-forward%2C-levando-mais-mulheres-ao-pro-tour" target="_blank">
            Cards Realm
        </a>.

    </li>

    <li>
        Detailed play report from GP Bilbao where
        <a href="http://blog.lilianamarket.com/the-age-of-azorius-a-report-from-gp-bilbao" target="_blank" >
            Liliana Market
        </a> team players Harriet Wilder and Ceri Taylor came down to breakers for the PiF prize.
    </li>
</ul>