
<div role="main">

    <h1>Login: </h1>

    <div class="alert alert-danger" ng-show="loginError">

        There was a problem logging in. Please try again.

        <br />

        {{loginError}}

    </div>

    <div class="alert alert-success" ng-show="accessToken">

        You logged in successfully.

    </div>

    <form class="centered-form" role="form" ng-submit="login()">

        <div class="form-group">

            <input type="text" class="form-control" id="username"
                   placeholder="Email Address" name="username" ng-model="credentials.username"/>

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="password"
                   placeholder="Password" name="password" ng-model="credentials.password"/>

        </div>

        <button type="submit" class="btn btn-primary right">Submit</button>

    </form>

</div>
