
<div role="main">

    <h1 ng-hide="authenticated">Login: </h1>
    <h1 ng-show="authenticated">Log Off: </h1>

    <div class="information" ng-show="infoBox" ng-cloak>
        <p class="bg-primary text-center center-block">{{infoBox}}</p>
    </div>

    <div class="alert alert-danger" ng-show="loginError" ng-cloak>

        There was a problem logging in. Please try again.

        <br />

        {{loginError}}

    </div>

    <form ng-show="!authenticated && !forgotPassword" class="centered-form" role="form" ng-submit="login()">

        <div class="form-group">

            <input type="text" class="form-control" id="username"
                   placeholder="Email Address" name="username" ng-model="credentials.username"/>

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="password"
                   placeholder="Password" name="password" ng-model="credentials.password"/>

        </div>

        <button type="submit" class="btn btn-primary center-block">Log In</button>

        <button class="btn btn-primary center-block" type="button"
                style="margin-top: 1em" ng-click="forgotPassword = true">Forgot password</button>
    </form>

    <form ng-show="authenticated && !forgotPassword" class="centered-form" role="form" ng-submit="logOff()">

        <button type="submit" class="btn btn-primary center-block">Log Off</button>

    </form>

    <form ng-show="forgotPassword" class="centered-form" role="form" ng-submit="sendResetPassword()">
        <div class="form-group">
            <input type="email" class="form-control" id="forgot-username"
                   placeholder="Email Address" name="username" ng-model="credentials.username"/>
        </div>

        <button type="submit" class="btn btn-primary center-block">Reset Password</button>
    </form>

</div>
