
<div role="main">

    <form class="form-signin">

        <h2 class="form-signin-heading">Event Organizer Login:</h2>

        <div class="form-signin-section">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>

        <div class="form-signin-section">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-signin-section">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>

    </form>

    <!--
    <div id="controllers" role="navigation">
        <h2>Available Controllers:</h2>
        <ul ng-cloak>
            <li ng-repeat="c in indexCtrl.applicationData.controllers | orderBy:'name'" class="controller">
                <a ng-if="!indexCtrl.stateExists(c.logicalPropertyName+'.list')" ng-href="{{indexCtrl.contextPath}}/{{c.logicalPropertyName}}">{{c.name}}</a>
                <a ng-if="indexCtrl.stateExists(c.logicalPropertyName+'.list')" ui-sref="{{c.logicalPropertyName}}.list">{{c.name}}</a>
            </li>
        </ul>
    </div>
    -->

</div>
