
<div role="main">

    <h2 class="form-signin-heading">Mailing List Sign Up:</h2>

    <form ng-submit="signUpForMailList()" class="centered-form">

        <div class="form-group">
            <label for="inputFirstName" class="control-label">First Name:</label>
            <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" ng-model="mailData.fName" required>
        </div>

        <div class="form-group">
            <label for="inputLastName" class="control-label">Last Name:</label>
            <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" ng-model="mailData.lName" required>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="control-label">Email Address:</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="mailData.email" required autofocus>
        </div>

        <div class="form-group">

            <label for="inputType" class="control-label">I Am A:</label>
            <div id="inputType" ng-repeat="type in mailData.types" style="margin-left: 15px;">

                <label style="font-weight: normal;">
                    <input type="radio" ng-model="mailData.chosenType" ng-value="type.id">
                    {{type.description}}
                </label>

            </div>

        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

    </form>

</div>

