
<div id="content" role="main">

    <dl class="dl-horizontal">
        <dt>Facebook:</dt>
        <dd>https://www.facebook.com/mtgforward/</dd>

        <dt>Twitter:</dt>
        <dd>https://twitter.com/MTG_Forward</dd>

        <dt>Email:</dt>
        <dd>play_it_forward@outlook.com</dd>

        <dt>Press Kit:</dt>
        <dd>in progress</dd>
    </dl>

    <h1>Articles:</h1>

    <ul>

        <li><a href="https://broadly.vice.com/en_us/article/the-women-of-magic-the-gathering">On The Grind With The Women of Competitive Magic: the Gathering</a></li>
        <li><a href="http://magic.wizards.com/en/events/coverage/gpden16/simone-aiken-pays-it-forward-2016-12-03">The Beginning of Play It Forward</a></li>

    </ul>

    <br />



</div>
