
<div id="content" role="main">

    <h1>Podcasts (see mtgcast.com):</h1>

    <ul>

        <li>Limited Resources</li>
        <li>Top Level Podcast</li>
        <li>Constructed Resources</li>
        <li>Allied Strategies</li>
        <li>The Spike Feed</li>
        <li>The SnapCast</li>
        <li>MTG Pro Tutor</li>

    </ul>

    <h1>Facebook Groups:</h1>

    <ul>

        <li><a href="https://www.facebook.com/groups/1651467591795832/">Ladies on the Grind</a></li>

    </ul>

    <h1>Other:</h1>

    <ul>

        <li><a href="http://magic.wizards.com/en/content/grand-prix-event-types-events">Grand Prix schedule</a></li>
        <li><a href="http://magic.wizards.com/en/protour/preliminaryqualifiers">PPTQ schedule</a></li>
        <li><a href="http://magic.wizards.com/en/protour/regionalqualifiers">RPTQ Schedule</a></li>
        <li><a href="http://magic.wizards.com/en/content/all-events-schedule">Complete Wizards of the Coast Event Schedule</a> (including Magic online!)</li>
        <li><a href="http://www.starcitygames.com/content/schedule">Complete StarCity Games Tour Schedule</a></li>

    </ul>

</div>
