<table class="resource-table">

    <tr>
        <td>
            <a href="https://www.cfbevents.com/2019" target="_blank"><img src="/assets/supporters/cfb.png"></a>
        </td>
        <td>
            <a href="https://www.cfbevents.com/2019" target="_blank">Grand Prixs (MagicFests):</a>

            <p>
                Grand Prixs are the biggest non-invitational tournaments run by WOTC.  With 15 rounds over
                two days they offer Pro Points and invitations to the Pro Tour as well as cash prizes to
                roughly the top 64.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.starcitygames.com/content/schedule" target="_blank"><img src="/assets/supporters/scg.png"></a>
        </td>
        <td>
            <a href="http://www.starcitygames.com/content/schedule" target="_blank">Star City Opens:</a>

            <p>
                Complete schedule for Star City Open tournaments.  They are a lot like Grand Prix's
                only they offer invitations to the Star City Invitational instead of the WoTC Pro Tour.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="https://magic.wizards.com/en/content/magic-online-mythic-championship-qualifiers" target="_blank"><img src="/assets/supporters/wotc.png"></a>
        </td>
        <td>
            <a href="https://magic.wizards.com/en/content/magic-online-mythic-championship-qualifiers" target="_blank">Magic Online Pro Tour Qualifiers:</a>

            <p>
                Can't fly somewhere?  Compete for entry to the pro tour from your very own living room with
                Magic Online Mythic Qualifier events.
            </p>

        </td>
    </tr>

</table>

