<table class="resource-table">

    <tr>
        <td>
            <a href="https://www.facebook.com/groups/1651467591795832/" target="_blank"><img src="/assets/supporters/lotg.png"></a>
        </td>
        <td>
            <a href="https://www.facebook.com/groups/1651467591795832/" target="_blank">Ladies On the Grind:</a>

            <p>
                LoTG is a facebook group for women who aspire to Magic greatness.  Share tips, triumphs
                and travel costs as you pursue the elusive top 8 finish.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="http://ladyplaneswalkers.weebly.com/" target="_blank"><img src="/assets/supporters/lps.png"></a>
        </td>
        <td>
            <a href="http://ladyplaneswalkers.weebly.com/" target="_blank">Lady Planeswalker Society:</a>

            <p>
                Breaking down the barriers of entry into Magic is the number one goal of the group, but we also
                aim to provide a stepping-stone into tournament play.

                With over 100 chapters in the world, this group has been very successful and continues to grow.
                The group teaches Magic at many conventions with a large, dedicated staff of experienced teachers.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.mtgdiversity.org/" target="_blank"><img src="/assets/supporters/pfd.png"></a>
        </td>
        <td>
            <a href="http://www.mtgdiversity.org/" target="_blank">Planeswalkers For Diversity:</a>

            <p>
                Our main focus has been on facilitating the creation of real life playgroups that
                emphasize a welcoming atmosphere for players of all kinds.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="https://www.facebook.com/groups/CollectedCompany/" target="_blank"><img src="/assets/supporters/cc.png"></a>
        </td>
        <td>
            <a href="https://www.facebook.com/groups/CollectedCompany/" target="_blank">Collected Company:</a>

            <p>
                The mission of the Collected Company project is to empower women to take on new challenges
                and realize their full potential within the Judge Program.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="http://garotasmagicasbr.wixsite.com/site/magic--the-gathering" target="_blank"><img src="/assets/supporters/lgm.png"></a>
        </td>
        <td>
            <a href="http://garotasmagicasbr.wixsite.com/site/magic--the-gathering" target="_blank">Liga das Garotas Mágicas:</a>

            <p>
                The League of Magical Girls is the Brazilian version of Ladies on the Grind.  If you are a
                woman who loves magic and speaks portuguese check them out.
            </p>

        </td>
    </tr>

</table>

