<table class="resource-table">

    <tr>
        <td>
            <a href="https://provencombatants.com/" target="_blank"><img src="/assets/supporters/pc.png"></a>
        </td>
        <td>
            <a href="https://provencombatants.com/" target="_blank">Proven Combatants:</a>

            <p>
                Constructed analysis and event prep with the CATS - Chantelle Campbell, Autumn Burchett,
                Teresa Pho, and Sarah Zyla.  Learn about the Pro tour from women who have been there.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="https://itunes.apple.com/us/podcast/limited-resources/id385051731?mt=2" target="_blank"><img src="/assets/supporters/lr.png"></a>
        </td>
        <td>
            <a href="https://itunes.apple.com/us/podcast/limited-resources/id385051731?mt=2" target="_blank">Limited Resources:</a>

            <p>
                A weekly podcast dedicated to improving your play at Magic: The Gathering with an
                emphasis on Limited play.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="https://www.stitcher.com/podcast/limited-resources/constructed-resources" target="_blank"><img src="/assets/supporters/cr.png"></a>
        </td>
        <td>
            <a href="https://www.stitcher.com/podcast/limited-resources/constructed-resources" target="_blank">Constructed Resources:</a>

            <p>
                A much less frequent podcast Where you come to improve at Magic: the Gathering,
                with a focus on Constructed play.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="https://alliedstrategiespodcast.wordpress.com/" target="_blank"><img src="/assets/supporters/as.png"></a>
        </td>
        <td>
            <a href="https://alliedstrategiespodcast.wordpress.com/s" target="_blank">Allied Strategies:</a>

            <p>
                Another podcast about constructed Magic.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.mtgprotutor.com/" target="_blank"><img src="/assets/supporters/mpt.png"></a>
        </td>
        <td>
            <a href="http://www.mtgprotutor.com/" target="_blank">MTG Pro Tutor:</a>

            <p>
                MTG Pro Tutor is dedicated to increasing the skill of Magic players everywhere by
                delving into the minds of our community’s greatest players.
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.toplevelpodcast.com/" target="_blank"><img src="/assets/supporters/tl.png"></a>
        </td>
        <td>
            <a href="http://www.toplevelpodcast.com/" target="_blank">Top Level:</a>

            <p>
                More constructed deck talk with Hall of Fame player Patrick Chapin and
                strategy writer Michael Flores
            </p>

        </td>
    </tr>

</table>

