
<div role="main">

    <h1>Event Schedules:</h1>

    <ul>

        <li><a href="http://magic.wizards.com/en/content/grand-prix-event-types-events">Grand Prix schedule</a></li>
        <li><a href="http://magic.wizards.com/en/protour/preliminaryqualifiers">PPTQ schedule</a></li>
        <li><a href="http://magic.wizards.com/en/protour/regionalqualifiers">RPTQ Schedule</a></li>
        <li><a href="http://magic.wizards.com/en/content/all-events-schedule">Complete Wizards of the Coast Event Schedule</a></li>
        <li><a href="http://www.starcitygames.com/content/schedule">Complete StarCity Games Tour Schedule</a></li>

    </ul>

    <h1>Strategy Podcasts (see mtgcast.com):</h1>

    <ul>

        <li><a href="https://itunes.apple.com/us/podcast/limited-resources/id385051731?mt=2">Limited Resources</a></li>
        <li><a href="http://toplevelpodcast.libsyn.com/">Top Level Podcast</a></li>
        <li><a href="http://www.crcast.com/">Constructed Resources</a></li>
        <li><a href="https://alliedstrategiespodcast.wordpress.com/">Allied Strategies</a></li>
        <li><a href="http://spikefeed.com/">The Spike Feed</a></li>
        <li><a href="https://itunes.apple.com/us/podcast/thesnapcast/id1114941532?mt=2">The SnapCast</a></li>
        <li><a href="http://www.mtgprotutor.com/">MTG Pro Tutor</a></li>

    </ul>

    <h1>Facebook Groups:</h1>

    <ul>

        <li><a href="https://www.facebook.com/groups/1651467591795832/">Ladies on the Grind</a></li>

    </ul>

    <h1>Articles:</h1>

    <ul>

        <li><a href="https://broadly.vice.com/en_us/article/the-women-of-magic-the-gathering">On The Grind With The Women of Competitive Magic: the Gathering</a></li>
        <li><a href="http://magic.wizards.com/en/events/coverage/gpden16/simone-aiken-pays-it-forward-2016-12-03">The Beginning of Play It Forward</a></li>

    </ul>

</div>
