

<!--suppress HtmlUnknownTarget -->
<div role="main">

    <h1>Thank You All!</h1>

    <div class="bounty-tabs">
        <ul>
            <li ng-class="tabClass('art')" ng-click="activate('art')">Playmat Art</li>
            <li ng-class="tabClass('sponsors')" ng-click="activate('sponsors')" >Corporate Sponsors</li>
        </ul>
    </div>

    <!-- Art -->

    <div id="donor-art" ng-show="isActiveTab('art')">

        <div ng-if="artArray.artLoaded && artArray.artistLoaded">

            <div class="gp-dropdown">

                <label>Artist:</label>

                <select name="yearSelect" id="artistSelect" ng-model="artArray.currentArtist"
                        ng-options="artist.name for artist in artArray.artists"
                        ng-change="selectArtist()" title="artistSelectTitle">
                </select>

            </div>

            <br/>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" ng-repeat="slide in getSlides() track by slide.id" index="slide.id">

                    <div ng-class="slide.active ? 'item active' : 'item'">

                        <img ng-src="{{slide.image}}" alt="...">

                    </div>

                </div>

                <!-- Indicators -->
                <ol class="carousel-indicators" ng-show="getSlides().length > 1">
                    <li ng-repeat="slide in getSlides()" data-target="#carousel-example-generic"
                        ng-click="goToSlide(slide.id)" ng-class="getSlides()[slide.id].active ? 'active' : ''">
                    </li>
                </ol>

                <!-- Controls -->
                <a class="left carousel-control" ng-click="backImage()" role="button" data-slide="prev"> </a>
                <a class="right carousel-control" ng-click="forwardImage()" role="button" data-slide="next"> </a>

            </div>

            <div class="center">

                <h3>{{getSlides()[artArray.currIndex].title}}</h3>

            </div>

            <p>

                {{artArray.currentArtist.blurb}}

            </p>

            <div class="socialIconsDiv">

                <a target="_blank" ng-show="artArray.currentArtist.webSiteUrl" href="{{artArray.currentArtist.webSiteUrl}}">
                    <img src="/assets/socialmedia/website.png" class="artistLinkImage"/>
                </a>

                <a target="_blank" ng-show="artArray.currentArtist.patreonUrl" href="{{artArray.currentArtist.patreonUrl}}">
                    <img src="/assets/socialmedia/patreon.png" class="artistLinkImage"/>
                </a>

                <a target="_blank" ng-show="artArray.currentArtist.deviantArtUrl" href="{{artArray.currentArtist.deviantArtUrl}}">
                    <img src="/assets/socialmedia/deviantart.png" class="artistLinkImage"/>
                </a>

                <a target="_blank" ng-show="artArray.currentArtist.facebookUrl" href="{{artArray.currentArtist.facebookUrl}}">
                    <img src="/assets/socialmedia/facebook.png" class="artistLinkImage"/>
                </a>

            </div>

            <p ng-show="getSlides()[artArray.currIndex].purchaseUrl" class="center">
                Purchase a print of this art <a target="_blank" href="{{getSlides()[artArray.currIndex].purchaseUrl}}">here</a>.
            </p>

        </div>

    </div>

    <!-- Sponsors -->

    <div id="donor-sponsors" ng-show="isActiveTab('sponsors')">

        <table class="resource-table">

            <tr>
                <td>
                    <a href="http://store.channelfireball.com/landing" target="_blank"><img src="/assets/supporters/cfb.png"></a>
                </td>
                <td>
                    <a href="http://store.channelfireball.com/landing" target="_blank">Channel Fireball:</a>

                    <p>
                        Channel Fireball is getting on the Play It Forward train in 2018!
                        The Regional Coordinator for North America has pledged a golden ticket
                        to each PiF winner in his domain.
                    </p>

                </td>
            </tr>

            <tr>
                <td>
                    <a href="http://gamermats.com/custom/" target="_blank"><img src="/assets/supporters/gm.png"></a>
                </td>
                <td>
                    <a href="http://gamermats.com/custom/" target="_blank">Gamermats:</a>

                    <p>
                        If you can't find the perfect playmat, GamerMats can make you a mat with your artwork and have
                        it in your hands in about a week. They are where our gorgeous prize playmats come from.
                    </p>

                </td>
            </tr>

        </table>

    </div>

</div>