

<!--suppress HtmlUnknownTarget -->
<div role="main">

    <!-- Art -->

    <div class="alert alert-danger" ng-show="artService.error">

        There was a problem loading artist information.

        <br />

        {{artService.error}}

    </div>

    <div ng-if="artService.ready">

        <div class="gp-dropdown">

            <label>Artist: </label>

            <select name="yearSelect" id="artistSelect" ng-model="artService.currentArtist"
                    ng-options="artist.name for artist in artService.artistsList"
                    ng-change="artService.selectArtist()" title="artistSelectTitle">
            </select>

        </div>

        <br/><br/>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" ng-repeat="slide in artService.currentArtist.artSet track by slide.id" >

                <div ng-class="slide.active ? 'item active' : 'item'">

                    <img ng-src="{{slide.url}}" alt="...">

                </div>

            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators" ng-show="artService.currentArtist.artSet.length > 1">
                <li ng-repeat="slide in artService.currentArtist.artSet" data-target="#carousel-example-generic"
                    ng-click="artService.goToSlide(slide.index)" ng-class="slide.active ? 'active' : ''">
                </li>
            </ol>

            <!-- Controls -->
            <a class="left carousel-control" ng-click="artService.backImage()" role="button" data-slide="prev"> </a>
            <a class="right carousel-control" ng-click="artService.forwardImage()" role="button" data-slide="next"> </a>

        </div>

        <div class="center">

            <h3>{{artService.currentArt.title}}</h3>

        </div>

        <p>

            {{artService.currentArtist.blurb}}

        </p>

        <div class="socialIconsDiv">

            <a target="_blank" ng-show="artService.currentArtist.webSiteUrl" href="{{artService.currentArtist.webSiteUrl}}">
                <img src="/assets/socialmedia/website.png" class="artistLinkImage"/>
            </a>

            <a target="_blank" ng-show="artService.currentArtist.patreonUrl" href="{{artService.currentArtist.patreonUrl}}">
                <img src="/assets/socialmedia/patreon.png" class="artistLinkImage"/>
            </a>

            <a target="_blank" ng-show="artService.currentArtist.deviantArtUrl" href="{{artService.currentArtist.deviantArtUrl}}">
                <img src="/assets/socialmedia/deviantart.png" class="artistLinkImage"/>
            </a>

            <a target="_blank" ng-show="artService.currentArtist.facebookUrl" href="{{artService.currentArtist.facebookUrl}}">
                <img src="/assets/socialmedia/facebook.png" class="artistLinkImage"/>
            </a>

        </div>

        <p ng-show="artService.currentArt.purchaseUrl" class="center">
            Purchase a print <a target="_blank" href="{{artService.currentArt.purchaseUrl}}">here</a>.
        </p>

    </div>

</div>