.header {
    position: relative;
}

.header-liliana {
    position: absolute;
    background-image: url("/assets/lilianaFrame.png");
    background-repeat: no-repeat;
    width: 1030px;
    height: 500px;
    top: 0px;
    left: -115px;
}