.main-content {
    padding: 10px 30px;
    background-color: #5c855b;
    background-image: url("/assets/bkg.jpg");
    background-repeat: no-repeat;
    color: white;
    min-height: 100%;
    position: relative;
}

.has-error {
    color: #ffcc00;
    font-weight: bold;
}

.playmat-image {

    margin: 10px 0 15px 0;
}

.playmat-thumbnail {

    width: 160px;
    height: 100px;
    min-width: 160px;
    min-height: 100px;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd)
{
}

.table-striped > tbody > tr:nth-of-type(odd) {
    color: black;
}

th
{
    background: #333;
    color: white;
    font-weight: bold;
}

td, th
{
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.paypal-button
{
    text-align: center;
    margin: 15px auto;
}

.item img
{
    margin-left: auto;
    margin-right: auto;
}

