/* Main navigation */

.navigation {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    padding: 0 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {
    .navigation {
        padding: 0;
    }

    .navigation-list-item {
        display: inline-block;
        padding: 0 20px 0 0;
    }
}

.navigation-list {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.navigation-list-item {
    padding: 5px;
}

@media screen and (max-width: 480px) {
    .navigation-list-item {
        white-space: nowrap;
    }
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
}

.navigation a:hover {
    color: #ccbbcc;
}

.navigation-link {
    text-decoration: none;
}

.navigation-link:hover, .navigation-link:active, .navigation-link:visited {
    text-decoration: none;
}
