table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {

}

.table-striped > tbody > tr:nth-of-type(odd) {
    color: black;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

#admin-mail-table {

    font-size: 10px;
}

.resource-table td {
    /*border-width: 0;*/
}

.resource-table p {
    line-height: 1;
    font-style: italic;
    margin-left: 15px;
    font-size: smaller;
}

.resource-table a {
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
 }

.resource-table a:hover {
    color: #ccbbcc;
}

.resource-table img {
    min-width: 170px;
    height: 170px;
}