/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require /bootstrap/bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

body
{
    background-color: #2b542c;
}

.centerText
{
    text-align: center;
    margin-bottom: 15px;
}

#main-view
{
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 10;
}

#body-wrapper
{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 100%;
    background-color: white;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
}

#banner-box
{
    position: relative;
}

#banner-box img
{
    z-index: 10;
    position: relative;
}

#liliana
{
    z-index: 5;
    position: absolute;
    background-image: url("/assets/lilianaFrame.png");
    background-repeat: no-repeat;
    width: 1030px;
    height: 500px;
    top: 0px;
    left: -115px;
}

.main-logo-image
{
    max-width: 100%;
}

#navigation
{
    background-color: #333333;
    position: relative;
    z-index: 10;
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width: 480px) {
    #navigation
    {
        text-align: center;
    }
}

#navigation ul
{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

#navigation li
{
    display: inline;
    padding: 5px;
}

@media screen and (max-width: 480px) {
    #navigation li
    {
        white-space: nowrap;
    }
}

#navigation a
{
    text-decoration: none;
    color: #ffcb99;
    text-shadow: 0px 0px 10px #c92ccf;
}

a
{
    color: #ffcb99;
}

#content
{
    min-height: 100%;
    text-align: left;
    padding: 10px 30px;
    height: 100%;
    background-image: url("/assets/bkg.jpg");
    color: white;
}

.bountyList
{
    margin-left: 50px;
}

.form-signin
{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-signin input, .form-signin button
{
    margin: 10px 0;
}