*, *:after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    background-attachment: fixed;
    background-color: #161639;
    background-image: url(Jennifer-blue.jpg);
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #ffffff;
    line-height: 2em;
    font-weight: normal;
    font-size: 16px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

html, code, kbd, pre, samp {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

body,
input, select, textarea {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0 0.8em 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

p {
    display: block;
}

a {
    text-decoration: underline;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

ul {
    margin: 0 0 0 50px;
    padding: 0;
}

img {
    max-width: 100%;
}

.center {
    text-align: center;
}

.section {
    margin-bottom: 15px;
}

a.btn {
    text-decoration: none;
}

.tableControl ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tableControl li {
    float: left;
    padding: 5px;
    border: 1px solid #ffffff;
}

.tableControl li.active {
    background-color: #ffffff;
}

.tableControl li.active a {
    color: #000000;
}
.tableControl a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px 10px;
}