container_commands:
    c01_my_vconf_file:
        command: "cp .ebextensions/my_vhost.conf /etc/httpd/conf.d/elasticbeanstalk/00_application.conf"
    c02_expiry_file:
        command: "cp .ebextensions/expiry.conf /etc/httpd/conf.d/elasticbeanstalk/50_expiry.conf"
    c99_apache_restart:
        command: "/sbin/service httpd restart"
